<ion-view view-title="Add New Machine">
  <ion-content>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="data.name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Machine ID" ng-model="data.id">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Machine Password" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Machine GSM Mobile Number" ng-model="data.mobile">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Machine Latitude" ng-model="data.lat">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Machine Longitude" ng-model="data.lng">
          </label>
          <ion-list>
            <ion-radio ng-model="data.type" ng-value="'type A'" ng-required="true" >Type A</ion-radio>
            <ion-radio class="right " ng-model="data.type" ng-value="'Type B'" ng-required="true">Type B</ion-radio>
            
          </ion-list>
      </div>
      <button class="button button-block button-calm" ng-click="add()">Add Machine</button>


  </ion-content>
</ion-view>