<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="">
     <img class="center"  src="img/logo.png"/>
</div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
            <button class="button button-block button-calm" ng-click="signup()">Signup</button>

  </ion-content>
</ion-view>