<ion-view view-title="{{machine.name}}">
<ion-nav-buttons side="right">
      <a  ng-click="settings(machine.id)" style="color: white;" class="button button-icon button-clear ion-wrench" >
        </a>
    </ion-nav-buttons>

  <ion-content class="padding">

<div class="column">
    <just-gage id="test2" value="value1" min=0 max=400 title="Dynamic Gage"></just-gage>
</div>

  </ion-content>
</ion-view>
