<ion-view view-title="Notifications">
  <ion-nav-buttons class="button-clear"
    >
    <a ng-click="myGoBack()" style="color: white;" class="button button-icon button-clear ion-ios-arrow-back"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div>
    <h2>You have 0 Notification!</h2>
	</div>
  </ion-content>
</ion-view>
