<ion-view view-title="My Machines">
<ion-nav-buttons side="right">
      <a ng-click="notifications()" style="color: white;" class="button button-icon button-clear ion-android-notifications-none" >
        </a>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/addmachine">
        <h2>Add New Machine</h2>
        <i class="icon ion-plus-circled"></i>

      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right" ng-repeat="machine in machines" type="item-text-wrap" href="#/tab/machines/{{machine.id}}">
        <h2>{{machine.name}}</h2>
        <p>{{machine.type}}</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(machine)">
          Delete
        </ion-option-button>
      </ion-item>
          
    </ion-list>
  </ion-content>
</ion-view>
