.right {
  text-align: right;
}
.txtcenter {
  text-align: center;
}


.center {
    margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
}
.column {
            width: 500px;
            height: 200px;
            display: inline-block;
        }